In [7]:
import pandas as pd 
print(pd.__version__)

1.0.3

In [8]:
#WORKING WITH SERIES
data = pd.Series([1.2,5.6,3,5],index=['a','b','c','d'])

In [9]:
data

a    1.2
b    5.6
c    3.0
d    5.0
dtype: float64

In [15]:
data['d'] = 12.2

In [16]:
data

a     1.2
b     5.6
c     3.0
d    12.2
dtype: float64

In [19]:
#wORKING WITH DATAFRAMES
grades = pd.Series({'A':4,'A-':3.5,'C':2})
marks = pd.Series({'A':85,'A-':75,'C':50})
B = pd.DataFrame({'Grades':grades,'Marks':marks})

In [20]:
B

    Grades  Marks
A      4.0     85
A-     3.5     75
C      2.0     50

In [21]:
B['Grades']

A     4.0
A-    3.5
C     2.0
Name: Grades, dtype: float64

In [22]:
B.values

array([[ 4. , 85. ],
       [ 3.5, 75. ],
       [ 2. , 50. ]])

In [25]:
#Adding another Column
B['Percentage'] = B['Marks']/100 *100

In [26]:
B

    Grades  Marks  Percentage
A      4.0     85        85.0
A-     3.5     75        75.0
C      2.0     50        50.0

In [27]:
#describe func tell us more about the whole data stored in the array
B.describe()

         Grades      Marks  Percentage
count  3.000000   3.000000    3.000000
mean   3.166667  70.000000   70.000000
std    1.040833  18.027756   18.027756
min    2.000000  50.000000   50.000000
25%    2.750000  62.500000   62.500000
50%    3.500000  75.000000   75.000000
75%    3.750000  80.000000   80.000000
max    4.000000  85.000000   85.000000

In [28]:
#Flipping the view
B.T

               A    A-     C
Grades       4.0   3.5   2.0
Marks       85.0  75.0  50.0
Percentage  85.0  75.0  50.0

In [4]:
#Broadcasting
import pandas as pd
heights = [23.0,9.3,8.4,8,3.0,4.8,3.4]
data = { 'height' : heights,'sex': 'M' }
results = pd.DataFrame(data)
print(results)

   height sex
0    23.0   M
1     9.3   M
2     8.4   M
3     8.0   M
4     3.0   M
5     4.8   M
6     3.4   M