## Covid - 19 World Dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('4. covid_19_data.csv')

In [12]:
data.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [13]:
data.count()

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [15]:
data.head(2)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455

In [17]:
# import seaborn as sns
import matplotlib.pyplot as plt